body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #455A64;
}

@media (max-width: 600px) {
	#heading-center {
		padding: 32px 40px 32px 40px;
	    font-size: 18px;
		-webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}

@media (min-width: 600px) {
	#heading-center {
		padding: 32px 40px 32px 40px;
		width: 80%;
	    margin-left: auto;
	    margin-right: auto;
	    font-size: 22px;
		border-radius: 5px;
		animation: slideUpAndCenter 1s forwards ease;
		margin-bottom: -40px;
		-webkit-transform: translate(0, -50%);
		   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
	}
}

#header {
	min-height: 540px;
	background-color: #455A64;
	animation: 	changeBackground .5s 2s both ease;
}

footer {
	background-color: #263238;
	padding: 1px;
	padding-bottom: 60px;
	color: rgba(255,255,255,0.87);
}

#main-section {
	background-color: #455A64;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

md-card {
	border-radius: 5px;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

#navbar {
	height: 80px;
}

#title {
	display: inline-flex;
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	position: absolute;
	animation: shrinkTitle .8s 2s both ease;
}

#profile {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 64px 0;
}

#profile-img {
	background: url("../imgs/profile.jpg") no-repeat center;
	background-size: 100% 100%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

#profile-name {
	margin-top: 16px;
	font-size: 48px;
	font-family: 'Russo One', sans-serif;
	color: white;
	text-align: center;
}

.letter1, .letter7 {
	animation-delay: .75s;
}

.letter2, .letter6 {
	animation-delay: .50s;
}

.letter3, .letter5 {
	animation-delay: .25s;
}

#heading-center md-divider {
	margin: 16px 0;
}

#projects {
	padding: 16px 16px 48px 16px;
}

#socials {
	align-items: right;
}

#socials .md-button {
	font-weight: 600;
	text-transform: none;
}

#socials .md-button span {
	vertical-align: top;
}

#bullshitContainer {
	color: white;
}

#bullshit.enter-remove {
	animation: fadeOutUp .3s;
}

#bullshit.enter-add {
	animation: fadeInUp .3s;
}

.md-button img {
	margin-right: 6px;
}

.quote-author {
	font-size: 14px;
}

.email-form {
	border-radius: 8px;
}

.dogebg {
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	background-image: url('../imgs/doge.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

md-grid-tile {
  transition: all 200ms ease 50ms;
}

@-webkit-keyframes slideUpAndCenter {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes slideUpAndCenter {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes changeBackground {
	to {
		background-color: #4ECCC1;
	}
}
@-webkit-keyframes changeBackground {
	to {
		background-color: #4ECCC1;
	}
}

@keyframes shrinkTitle {
	from {
		font-size: 68px;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	to {
		font-size: 40px;
		top: 0%;
		left: 0%;
		margin-left: 20px;
		-webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}

@-webkit-keyframes shrinkTitle {
	from {
		font-size: 68px;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	to {
		font-size: 40px;
		top: 0%;
		left: 0%;
		margin-left: 20px;
		-webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}