body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

#navbar {
	height: 80px;
	animation : shrinkNavbar .8s 2s both linear;
}

#title {
	display: inline-flex;
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	position: relative;
	animation: shrinkTitle .8s 2s both ease;
}

#header {
	height: 100%;
	background-color: #455A64;
	animation: 	shrinkHeader 1s 2s both ease, 
				changeBackground .5s 2s both ease;
}

#main-section {
	background-color: #455A64;
}

#profile {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 64px 0;
}

#profile-img {
	background: url("../imgs/profile.jpg") no-repeat center;
	background-size: 100% 100%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

#profile-name {
	font-family: 'Dosis', sans-serif;
	margin-left: 16px;
	font-size: 50px;
	color: white;
}

.letter1, .letter7 {
	animation-delay: .75s;
}

.letter2, .letter6 {
	animation-delay: .50s;
}

.letter3, .letter5 {
	animation-delay: .25s;
}

.slideUp {
	animation: slideUp .8s both ease;
}

#heading-center {
	padding: 32px 40px 32px 40px;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
	border-radius: 5px;
	animation: slideUpAndCenter .4s forwards ease;
}

@keyframes slideUp {
	from {
		opacity: 0.25;
		transform: translateY(50%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slideUp {
	from {
		opacity: 0.25;
		transform: translateY(50%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slideUpAndCenter {
	from {
		opacity: 0.25;
		transform: translateY(50%);
	}
	to {
		opacity: 1;
		transform: translateY(-50%);
	}
}
@-webkit-keyframes slideUpAndCenter {
	from {
		opacity: 0.25;
		transform: translateY(50%);
	}
	to {
		opacity: 1;
		transform: translateY(-50%);
	}
}

@keyframes changeBackground {
	to {
		background-color: #4ECCC1;
	}
}
@-webkit-keyframes changeBackground {
	to {
		background-color: #4ECCC1;
	}
}

@keyframes shrinkHeader {
	to {
		height: 540px;
	}
}

@-webkit-keyframes shrinkHeader {
	to {
		height: 540px;
	}
}

@keyframes shrinkTitle {
	from {
		font-size: 68px;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	to {
		font-size: 40px;
		top: 0%;
		left: 0%;
		margin-left: 20px;
		-webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}

@-webkit-keyframes shrinkTitle {
	from {
		font-size: 68px;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	to {
		font-size: 40px;
		top: 0%;
		left: 0%;
		margin-left: 20px;
		-webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
	}
}

@keyframes shrinkNavbar {
	from {
		height: 100%;
	}
	to {
		height: 80px;
	}
}

@-webkit-keyframes shrinkNavbar {
	from {
		height: 100%;
	}
	to {
		height: 80px;
	}
}