body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

#title {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	position: absolute;
	animation: shrinkTitle .8s both ease;
	animation-delay: 2s;
}

#title span {
	padding: 0;
	margin: -4px;
}

#navbar {
	height: 80px;
}

#block1 {
	height: 100%;
	background-color: #455A64;
	animation: 	shrinkTile 1s 2s both ease, 
				changeBackground .5s 3s both ease;
}

#block2 {
	background-color: #455A64;
}

#profile {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 64px 0;
}

#profile-img {
	background: url("../imgs/profile.jpg") no-repeat center;
	background-size: 100% 100%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

#profile-name {
	font-family: 'Dosis', sans-serif;
	margin-left: 16px;
	font-size: 50px;
	color: white;
}

.letter1, .letter7 {
	animation-delay: .75s;
}

.letter2, .letter6 {
	animation-delay: .50s;
}

.letter3, .letter5 {
	animation-delay: .25s;
}

.slideUp {
	animation: slideUp .5s both ease;
}

#heading-center {
	padding: 32px 40px 32px 40px;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
	border-radius: 5px;
	animation: slideUpAndCenter .2s forwards ease;
}

@keyframes slideUp {
	from {
		opacity: 0.25;
		transform: translateY(50%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slideUpAndCenter {
	from {
		opacity: 0.25;
		transform: translateY(50%);
	}
	to {
		opacity: 1;
		transform: translateY(-50%);
	}
}

@keyframes changeBackground {
	to {
		background-color: #4ECCC1;
	}
}

@keyframes shrinkTile {
	to {
		height: 540px;
	}
}

@keyframes shrinkTitle {
	from {
		font-size: 68px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	to {
		font-size: 40px;
		top: 0%;
		left: 20px;
		transform: translate(0%, 0%);
	}
}